.video-title-userlogo{
    display: flex;
    gap: 8px;
    align-items: center;
}

.video{
    width: 310px;
    display: flex;
    flex-direction: column;
}

.video-title-userlogo>img{
    border-radius: 100%;
}

.video-info>span{
    display: flex;
    gap: 4px;
}

.video-watchlater{
    position: relative;
    left: 270px;
    top: 40px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    margin-top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 10px;
    cursor: pointer;
}

.video-img-container>a>img{
    width: 310px;
    height: 180px;
}